$headerBgColor: black;

.header {
	display: table-row;
	height: 0;
	
	img {
		height: 3em;
		padding: 0 .5em;
	}

	.link-padding {
		padding: 1em;
	}
}

.header-list {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $headerBgColor;

	li {
		width: 100%;
		display: block;
	}
}

.header-link {
	text-decoration: none;
	color: white;
	font-size: 120%;
	font-weight: bold;
	display: block;
}

.change-bg:hover {
	background-color: lighten($headerBgColor, 25%);
}

@media screen and (min-width: 40em) {
	.header-list {
		li {
			width: auto;
			text-align: center;
			display: inline-block;
		}
	}
}