.main {
	width: 100%;
}

.index-col {
	height: 100%;
	min-height: 55em;
	text-align: center;

	.ghost-button {
		width: 8em;
		height: 3em;
		border: 2px solid white;
		border-radius: 5px;
		background-color: transparent;
		color: white;
		transition: all .5s;
		outline: none;

		&:hover {
			background-color: white;
			color: black;
			cursor: pointer;
		}
	}
}

.index-col-center {
	background-image: url("../img/index-center.jpg");
}

.index-col-right, .index-col-left {
	display: none;
	visibility: hidden;
}

.index-col {
	background-color: lighten(black, 25%);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
}

@media screen and (min-width: 40em) {
	.index-col {
		width: 33.333%;
		background-color: black;
	}

	.index-col-left, .index-col-right {
		display: block;
		visibility: visible;
	}

	.index-col-left {
		background-image: url("../img/index-left.jpg");
	}

	.index-col-right {
		background-image: url("../img/index-right.jpg");
	}
}