* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
}

div {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.center-text {
	text-align: center;
}

.floatleft {
	float: left;
}

.col-1-3 {
	width: 33.333%;
}

@import 'header';
@import 'footer';
@import 'main';